body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h1,
p {
    margin: 20px;
}

.logo-container {
    text-align: center;
    margin-top: 50px;
}

.logo {
    font-size: 3rem;
    color: #999;
}

.content-container,
.projects-container {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 180px;
}

.title {
    font-size: 2.5rem;
    color: #666;
    margin-bottom: 20px;
}

.content {
    font-size: 1rem;
    color: #555;
}

.content.flex-row {
    display: flex;
    flex-direction: row;
}

.second-row {
    margin-top: 48px;
}

.email {
    margin-left: 240px;
}

.content p {
    margin-bottom: 10px;
}

.content ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.content ol li {
    margin-bottom: 20px;
}


@media only screen and (max-width: 1430px) {
    .content-container {
        width: 40%;
    }
}

@media only screen and (max-width: 830px) {
    .content-container {
        width: 70%;
    }

    .email {
        margin-left: 64px;
    }
}